* {
    box-sizing:border-box;
}

body {
   padding: 0px;
   margin: 0px;
   font-family: 'Della Respira', serif;
}

a {
    color: black; 
    text-decoration: none;
  } 

ul {
    margin: 0;
    padding: 0;
    list-style: none;
} 

li {
    padding: 8px;

}

.main-header {
    border-style: solid;
    border-color: black;
    background-color: lightcyan;
}

.name {
    font-size: 2em;
    margin: 0;
}

.name,
.main-menu {
    text-align:center;
    display: block;
    padding: 15px 15px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}


p {
    margin: 15px;
}

.footer {
   background: black;
   color: white;
   padding: 3em;
   margin-bottom:0px;
   margin-top: auto;
   text-align: center;
}


.welcome,
.confirmation-page {
    margin: 15px;
    text-align: center;
}

.dog-bio-one,
.dog-bio-two,
.cat-bio-one, 
.cat-bio-two {
    margin: 20px;
    text-align: center;
}

h3 {
    text-align: center;
}


#dog-picture {
    border: 3px solid black;
    max-width: 40vh;
    max-height: 40vh;
    margin:15px;
}

#cat-picture {
    border: 3px solid black;
    max-width: 40vh;
    max-height: 40vh;
    margin:15px;
}

.welcome {
    margin: 15px;
    text-align: center;
}

.container {
    border-color: black;
    border-radius: 5px;
    box-shadow: 0 2px 5px black;
    width: auto;
    margin: 25px;
    align-items: center;
    justify-content: center;
}

.form-header {
    background-color: lightslategrey;
    border-bottom: 1px solid black;
    padding: 20px 40px;
    text-align: center;
}

.header h2 {
    margin: 0;
}

.form {
   padding: 20px 30px;
   text-align: center;
}

.form-control {
    padding-bottom: 20px;
}

.form-control label {
    display: inline-block;
}

.form-control input {
    border: 2px solid black;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    text-align: center;
}

#name,
#phone,
#email {
    margin: auto;
}

#error {
    color: red;
}

.check-box {
    display: inline-block;
    margin-bottom: 25px;
    padding: 5px;
    border: 2px solid black;
}

.form-button {
    background-color: coral;
    border: 2px solid black;
    color:white;
    display: block;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}






















@media (min-width: 0px) {
    
    .main-header,
    .main-menu,
    #dog-primary,
    #cat-primary {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}


@media (min-width: 769px) {

    .main-header,
    .main-menu,
    #dog-primary,
    #cat-primary {
        display: flex;
    }
    .main-header,
    #dog-primary,
    #cat-primary {
        flex-direction: column;
        align-items: center;
    }

}

@media (min-width: 1025px) {
    .main-header,
    .main-menu {
        flex-direction: row;
        justify-content: space-between;
    }
}
@media (min-width: 1025px) {
    #dog-primary,
    #cat-primary {
       display:flex;
       flex-direction: row;
       justify-content: space-evenly;
       align-items: center;
       margin-top: auto;
       margin-bottom: auto;
       }

}
